
hero {
  user-select: none;

  cursor: default;
  display: block;

  margin: 0 auto $spacing;

  position: relative;
  z-index: 20;

  background-color: $color-dark;
  background-size: cover;
  background-position: 50% 50%;

  &:before {
    content: '';
    display: block;
    padding-top: 30%;
    height: 0;

    @include respond-to(1000px) {
      padding-top: 300px;
    }
    background: rgba($color-yellow,0.5);

    @each $name, $color, $text in $colorArray {
      html[data-color="#{$name}"] & {
        background: rgba($color, 0.5);
      }
    }
  }

  inner {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    opacity: 1;
    overflow: hidden;
    display: block;
    margin: auto;
    padding: 0 $spacing/4;

    line-height: rem-calc(80);

    left: 0;
    right: 0;

    font-size: rem-calc(40);
    text-align: center;
    color: white;

    h1 {
      position: relative;
      z-index: 2;
    }
  }
}
