*.swp
.DS_Store
*.sublime-workspace
.idea

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
bower_components

# Debug log from npm
npm-debug.log

# Compiled files
dist/*
dev/*
