
.button, button {

  @each $name, $color, $text in $colorArray {
    $selector: '.#{$name}';
    @if $name == 'primary' {
      $selector: '';
    }
    &#{$selector} {
      color: $text;
      background: $color;
      border-color: mix(black,$color,10%);

      @if lightness($text) > lightness($color) {
        -webkit-font-smoothing: antialiased;
      }

      &:focus,
      &:hover {
        color: $text;
        background: mix(black, $color, 10%);
        border-color: mix(black, $color, 15%);
      }

      &:active {
        background: mix(white, $color , 5%);
      }
    }
  }
}
