
tags {
  display: block;
  margin: 0 auto $spacing/2;
  font-size: 0;
  text-align: left;

  position: relative;

  tag {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

    margin: 0 $spacing/2 $spacing/2 0;
    height: 30px;
    line-height: 30px;

    font-size: 14px;
    font-style: italic;

    a {
      display: block;
      padding: 0 $spacing/2;
      transition: color $trans-dur-fast;
      transition-delay: $trans-dur-fast;

      span {
        position: relative;
        z-index: 1;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0; left: 0; bottom: 0;
        z-index: 0;

        display: block;
        width: 3px;

        transition: width $trans-dur-fast;
        transition-delay: $trans-dur-fast;
      }

      &:hover {
        transition-delay: 0;
        &:before {
          width: 100%;
          transition-delay: 0;
        }
      }
    }

    @each $name, $color, $text in $colorArray {
      box.color-#{$name} &,
      box.color-#{$name} + &,
      &.#{$name} {
        background-color: rgba($color,0.1);

        a {
          color: $color;
          &:hover { color: $text; }
        }

        a:before {
          background-color: $color;
        }
      }
    }
  }
}
