
pagewrap {
  display: block;
  min-height: 100%;
  min-width: $page-min-width;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 50;
  padding: 120px 0 0;

  @extend .x-scroll;

  background: white;

  transition: transform $trans-dur;

  html[data-location='/'] &,
  html.loading & {
    transform: scale(0);
  }
}

main {
  // background: $main-background;

  opacity: 1;
  transition: opacity $trans-dur;

  html[data-navigating='true'] &,
  html.re-loading & {
    opacity: 0;
  }
}

// General elements
code {
  display: inline-block;
  padding: 0 2px;
  background: fade($color-dark,20%);
  border: 1px dotted $color-light;
}

// Horizontal line
hr {
  @include clearfix;

  background: 0;
  border: 0;
  outline: 0;

  margin: $spacing 0;
  height: 1px;
  border-top: 1px solid $color-gray-light;

  &.dotline {
    border-top-style: dashed;
  }

  @each $name, $color, $text in $colorArray {
    &.#{$name} {
      border-top-color: $color;
      &.light {
        border-top-color: mix(white,$color,10%);
      }
      &.dark {
        border-top-color: mix(black,$color,10%);
      }
    }

    .#{$name} & {
      border-top-color: $text;
    }
  }
}

.logo {
  margin-bottom: 80px;

  a { display: block; }

  h1 {
    display: inline-block;
    margin-bottom: $spacing*2;
    position: relative;
    font-size: 0;

    .svg-kolibri-flower {
      display: inline-block;
      vertical-align: middle;

      width: 68px;
    }

    span {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      font-weight: 500;
      font-size: 68px;
      letter-spacing: -4px;
    }

    em {
      position: absolute;
      right: 0;
      bottom: 0;

      font-size: 18px;

      transform: translateY(100%);
    }
  }
}