// Typography
$font-family: 'Merriweather', 'Georgia', 'Times New Roman', Times, serif;
$font-family-alt: 'ars-maquette-web', Helvetica, Arial, sans-serif;
// Temporarily use desktop font when available (missing font-weights in typekit)
// $font-family-alt: 'ARS Maquette Pro', $font-family-alt;
$font-sans: $font-family-alt;
$font-serif: $font-family;
$font-weight: 400;
$font-size: 16px;
$font-color: #333;
$line-height: 1.25;

// Sizes
$spacing: 10px;
$page-max-width: 1400px;
$page-min-width: 320px;

// Radius
$radius: 0;
$box-radius: $radius;

// Grayscale
$color-gray-dark: #555;
$color-gray: #999999;
$color-gray-light: #ccc;

// Colors
$color-gray-dark: #555;
$color-gray: #999999;
$color-gray-light: #ccc;

// Colors
$color-yellow: #FFD100;
$color-dark: #26434C;
$color-light: #EAEAEA;

$color-green: #1FA95F;
$color-blue: #1789AA;
$color-red: #E15A50;
$color-purple: #857069;
$color-turquoise: #54BBBC;

$color-border: $color-gray;
$font-color: $color-dark;

// Color array used for hr, links, boxes, buttons, forms, messages and sections
// color-name   color-value         font-color
$colorArray:
  ("green",     $color-green,  white)
  ("blue",      $color-blue,   white)
  ("red",       $color-red,    white)
  ("purple",    $color-purple, white)
  ("brown",     $color-purple, white)
  ("turquoise", $color-turquoise, white)
  ("yellow",    $color-yellow, $color-dark)
  ("dark",      $color-dark,   white)
  ("light",     $color-light,  $color-dark)
;
// $color-count: length($colorArray);

// Applied to html and main
$main-background: $color-light;
$body-background: $color-yellow;

// Text direction & floats
$text-direction: ltr;
$default-float: left;
$opposite-float: right;
@if $text-direction == ltr {
  $default-float: left;
  $opposite-float: right;
} @else {
  $default-float: right;
  $opposite-float: left;
}

// Transitions duration
$trans-dur-fast: 100ms;
$trans-dur: 200ms;
$trans-dur-slow: 300ms;
$trans-dur-slower: 400ms;
